/* Secondary Color: #1E943F */

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
}

/* Page Top Styles */
#banner{
  width: 100%;
  height: 670px;
  background: url("../img/banner-img-1.jpeg");
  background-size: cover;
  background-position: 50%;
}

#banner h1{
  padding: 25px;
  border: 2px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  left: 35%;
  top: 250px;
  margin: 0;
  font-size: 2em;
}

#banner a{
  width: 100px;
  height: 25px;
  padding: 5px;
  position: relative;
  top: 70%;
  left: 46%;
  border: 2px solid;
  font-size: 25px;
}

/* Header Styles */

header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(100,100,100,1);
  z-index: 30;
}

.logo{
  float: left;
  width: 200px;
  height: 100px;
}

.logo h1{
  position: relative;
  left: 30px;
  padding-top: 35px;
}

.menu{
  float: left;
  padding: 30px 30px;
}

.menu li{
  display: inline-block;
  padding-left: 50px;
  font-weight: bold;
}

.menu li:hover {
  color: #1E943F;
}

/* Home Styles */

#home{
  width: 100%;
  height: 400px;
  background-color: #eee;
}

#home article{
  width: 20%;
  height: 200px;
  float: right;
  display: inline-block;
  padding: 90px 85px;
}

/* About Styles */

#about{
  width: 100%;
  height: 700px;
}

#about article{
  width: 25%;
  height: 100;
  display: inline-block;
  padding: 10px 70px;
  position: relative;
  left: 100px;
  top: 200px;
}

.about-container{
  width: 100%;
  height: 700px;
}

.about-picture{
  width: 30%;
  height: 700px;
  background: url("../img/tree.jpg");
  background-position: 90% 0%;
  display: inline-block;
  float: left;
}

.about-info {
  width: 70%;
  height: 700px;
  background-color: #ccc;
  float: left;
}

.about-me{
  width: 70%;
  height: 150px;
  position: relative;
  left: 150px;
  top: 100px;
}

.about-me h1{
  text-align: center;
  position: relative;
}

.about-me p{
  position: relative;
}

/* Skills Styles */

#skills{
  width: 100%;
  height: 700px;
  background-color: #eee;
}

.skills-contact{
  border: 2px solid;
  width: 135px;
  position: relative;
  left: 435px;
  top: 50px;
}

.skills-container{
  width: 75%;
  height: 200px;
  padding: 250px 200px;
}

.skills-container h1{
  text-align: center;
}

.skills-container p{
  text-align: center;
}

/* Quotes Styles */

#quotes{
  width: 100%;
  height: 400px;
  background-color: #ccc;
}

.quotes-container{
  width: 50%;
  height: 300px;
  position: relative;
  padding: 100px 350px;
  text-align: center;
}

/* Portfolio Styles */

#portfolio{
  width: 100%;
  height: 700px;
  background-color: #eee;
}

.portfolio-top-container{
  width: 75%;
  height: 100px;
  padding: 100px 150px;
  text-align: center;
}

.portfolio-picture-container{
  width: 75%;
  height: 350px;
  position: relative;
  left: 150px;
}

.portfolio-picture-container img{
  height: 75%;
  width: auto;
  padding: 10px 50px;
}

/* Contact Styles */

#contact{
  width: 100%;
  height: 700px;
  background-color: #222222;
}

#contact h1{
  color: white;
}

#contact form{
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 50px;
}

#contact form div{
  padding: 30px 0px;
}

#contact input{
  width: 400px;
  height: 50px;
  background-color: #555;
  border-color: transparent;
}

#contact textarea{
  width: 400px;
  height: 100px;
  background-color: #555;
  border-color: transparent;
}

#contact button{
  width: 150px;
  height: 50px;
  background-color: #555;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
}

#contact button:hover{
  color: #ddd;
  background-color: #444;
}

.info-box{
  width: 45%;
  height: 100%;
  float: left;
  color: #eee;
  position: relative;
  top: 50px;
  left: 50px;
}

.info-box h1{
  position: relative;
  left: -50px;
  font-size: 30px;
  text-align: center;
}

.place{
  position: relative;
  top: 50px;
}

.contact-info{
  position: relative;
  top: 100px;
}

.contact-info span{
  position: relative;
  left: 10px;
}

/* Footer Styles */

footer{
  width: 100%;
  height: 150px;
  background-color: #111111;
}

.copyright{
  width: 100%;
  height: 50px;
}

.copyright h1{
  text-align: center;
  padding: 10px 0px;
  color: #555;
}

.sm-icons{
  width: 100%;
  height: 50px;
  position: relative;
  left: 550px;
  top: 20px;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin: 0px 5px;
  background-color: #555;
}

.icon i{
  font-size: 2em;
  padding: 10px;
  color: #111;
}
